<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adatok módosítása</title>
    
  </head>
  <body>
    <h1>Szerver</h1>
    
    <a href="/autoktabla">Autok </a>
    <a href="/usertabla">Felhasznalok</a>
    <a href="/rendelesek">Rendelesek</a>
    
  </body>
</html>